@model TransportFormASP.Models.RailwayDispatch

@{
    ViewBag.Title = "Подробности";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DispatchType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DispatchType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Править", "Edit", new { id = Model.idRailwayDispatch }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
